@charset "utf-8";

@media all and (min-width: 1024px) {
    .support_section {
        width: 100%; height: 100%;
        padding: 100px 60px 50px;
        overflow-x: hidden;
    }

    .support_section .section_mark {
        padding: 0 200px 80px;
        display: flex;
        align-items: center;
    }
    .support_section .section_mark a {
        display: block;
        color: #080808;
        font-size: .8rem;
        font-weight: 300;   
    }
    .support_section .section_mark a:last-child {
        color: #f18706;
    }
    .support_section .section_mark .sub_arrow {
        width: 15px;
        margin: 0 8px;
    }
    
    .support_section .section_title {
        width: 100%;
        padding: 0 200px;
        text-align: left;
    }
    .support_section .section_title h2 {
        position: relative;
        padding: 0 0 30px;
        font-size: 4rem;
        font-family: var(--eng-font);
        font-weight: 300;
        color: #080808;
        letter-spacing: 2px;
    }
    .support_section .section_title p {
        font-size: .8rem;
        line-height: 1.8;
    }

    .support_section .support_more {
        position: relative;
    }
    .support_section .support_more a {
        line-height: 3;
        font-size: .9rem;
        font-weight: 600;
        color: #080808;
    }
    .support_section .support_more a::before {
        content: "";
        position: absolute;
        top: 80%; 
        width: 5%; height: 1px;
        background: #080808;
        display: none;
        transition: display .3s ease;
    }
    .support_section .support_more a:hover::before {
        display: block;
    }

    .accordion {
        width: 1200px;
        margin: 0 auto;
        padding: 50px 200px;
        font-family: var(--kor-font);
    }
    .accordion .accordion_box {
        margin-bottom: 15px;
    }
    .accordion .accordion_box .accordion_title {
        position: relative;
        padding: 20px 40px 20px 5px;
        border-bottom: 1px solid #080808;
        cursor: pointer;
    }
    .accordion .accordion_box .accordion_title h3 {
        font-size: 1rem;
        font-weight: 600;
    }
    .accordion .accordion_box .accordion_title .more {
        position: absolute;
        top: 40%; right: 3%;
        font-size: 1.5rem;
        transition: transform .3s;
    }
    .accordion .accordion_box.active .more {
        transform: rotate(45deg);
    }

    .accordion .accordion_box .accordion_answer {
        padding: 20px;
        border: 1px solid #080808;
        border-top: none;
    }
    .accordion .accordion_box .accordion_answer p {
        font-size: .9rem;
        font-weight: 500;
        margin-bottom: 5px;
    }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    .support_section {
        width: 100%; height: 100%;
        padding: 60px 50px;
        overflow-x: hidden;
    }
    .support_section .section_mark {
        display: none;
    }
    .support_section .section_title {
        width: 100%;
        padding: 60px 0 0;
        text-align: center;
    }
    .support_section .section_title h2 {
        position: relative;
        padding: 30px 0;
        font-size: 4rem;
        font-family: var(--eng-font);
        font-weight: 300;
        color: #080808;
        letter-spacing: 2px;
    }
    .support_section .section_title p {
        font-size: .8rem;
        line-height: 1.8;
    }

    .support_section .support_more {
        position: relative;
        padding-top: 30px;
    }
    .support_section .support_more a {
        line-height: 3;
        font-size: 1rem;
        font-weight: 600;
        color: #080808;
    }
    .support_section .support_more a::before {
        content: "";
        position: absolute;
        top: 90%; left: 45%;
        width: 10%; height: 1px;
        background: #080808;
        display: none;
        transition: display .3s ease;
    }
    .support_section .support_more a:hover::before {
        display: block;
    }

    .accordion {
        width: 100%;
        margin: 0 auto;
        padding: 50px 100px;
        font-family: var(--kor-font);
    }
    .accordion .accordion_box {
        margin-bottom: 15px;
    }
    .accordion .accordion_box .accordion_title {
        position: relative;
        padding: 20px 40px 20px 5px;
        border-bottom: 1px solid #080808;
        cursor: pointer;
    }
    .accordion .accordion_box .accordion_title h3 {
        font-size: 1rem;
        font-weight: 600;
    }
    .accordion .accordion_box .accordion_title .more {
        position: absolute;
        top: 40%; right: 3%;
        font-size: 1.5rem;
        transition: transform .3s;
    }
    .accordion .accordion_box.active .more {
        transform: rotate(45deg);
    }

    .accordion .accordion_box .accordion_answer {
        padding: 20px;
        border: 1px solid #080808;
        border-top: none;
    }
    .accordion .accordion_box .accordion_answer p {
        font-size: .9rem;
        font-weight: 500;
        margin-bottom: 5px;
    }
}

@media (max-width: 767px) {
    .support_section {
        width: 100%; height: 100%;
        padding: 60px 50px;
        overflow-x: hidden;
    }
    .support_section .section_mark {
        display: none;
    }
    .support_section .section_title {
        width: 100%;
        padding: 60px 0;
        text-align: center;
    }
    .support_section .section_title h2 {
        position: relative;
        padding: 30px 0;
        font-size: 4rem;
        font-family: var(--eng-font);
        font-weight: 300;
        color: #080808;
        letter-spacing: 2px;
    }
    .support_section .section_title p {
        font-size: .925rem;
        line-height: 1.8;
    }
    
    .support_section .support_more {
        position: relative;
        padding-top: 30px;
    }
    .support_section .support_more a {
        line-height: 3;
        font-size: 1rem;
        font-weight: 600;
        color: #080808;
    }
    .support_section .support_more a::before {
        content: "";
        position: absolute;
        top: 90%; left: 43%;
        width: 14%; height: 1px;
        background: #080808;
        display: none;
        transition: display .3s ease;
    }
    .support_section .support_more a:hover::before {
        display: block;
    }

    .accordion {
        width: 100%;
        padding: 50px 3px;
        font-family: var(--kor-font);
    }
    .accordion .accordion_box {
        margin-bottom: 15px;
    }
    .accordion .accordion_box .accordion_title {
        position: relative;
        padding: 20px 40px 20px 5px;
        border-bottom: 1px solid #080808;
        cursor: pointer;
    }
    .accordion .accordion_box .accordion_title h3 {
        font-size: .95rem;
        font-weight: 600;
    }
    .accordion .accordion_box .accordion_title .more {
        position: absolute;
        top: 30%; right: 3%;
        font-size: 1.5rem;
        transition: transform .3s;
    }
    .accordion .accordion_box.active .more {
        transform: rotate(45deg);
    }

    .accordion .accordion_box .accordion_answer {
        padding: 20px;
        border: 1px solid #080808;
        border-top: none;
    }
    .accordion .accordion_box .accordion_answer p {
        font-size: .8rem;
        line-height: 1.5;
        font-weight: 500;
        margin-bottom: 5px;
    }

}